.btn-show-me {
  color: black;
  background-color: transparent;
  border: black 1px solid;
}

.btn-show-me:hover {
  color: white;
  background-color: black;
  border: black 1px solid;
}

.bg-jumbotron {
  background-color: whatever color you want;
}
