.pdf-viewer-and-downloader {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    height: calc(75vh - 2rem);
}

.pdf-viewer-and-downloader iframe {
    height: 90%;
}

.pdf-viewer-and-downloader a {
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}